name: Auto Approve and Merge PRs

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
permissions:
  contents: write
  pull-requests: write
jobs:
  auto-approve:
    uses: plumelo/dev/.github/workflows/automerge.yml@master
    secrets: inherit
